
    
    <div id="page-wrapper">
        <div class="clearfix"></div>
        <section id="page-slideshow" class="full-height fixedNscrolled">
            <div class="iosslider-container" data-0="transform:translateY(0px);" data-800="transform:translateY(-400px);">
                <div class="iosslider" id="iosSlider1">
                    <div class="slider">
                        <div class="item item2" data-slidetitle="ROAD TO NOWHERE">
                            <div class="slide-image" style="background-image:url(images/sliders/iosslider_fullheight/slide1.jpg);"></div>
                            <div class="iosslider-caption-wrapper" data-0="transform:translateY(0px); opacity:1;" data-800="transform:translateY(50px); opacity:0.2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="iosslider-caption light-color text-center-xs mt-xs-50">
                                                <h3 class="capt fs-xxxxl fs-sm-xxxl fs-xs-xl fw-extrabold sourcesans reset-line-height mb-10">A BREATH OF FRESH AIR<br>WAS NEEDED</h3>
                                                <h3 class="capt fs-xxl fs-xs-l fw-thin sourcesans mb-40">People will just fall in love.</h3>
                                                <a href="#" class="capt btn btn-vs btn-custom big-padding big-padding-sm">GET STARTED</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-credits">
                                <a href="#" class="credits-author custom-color" data-titletext="FEATURED IMAGE BY">Matt Evernote</a>
                            </div>
                        </div>
                        <div class="item item3" data-slidetitle="A GOOD YEAR SO FAR">
                            <div class="slide-image" style="background-image:url(images/sliders/iosslider_fullheight/slide3.jpg);"></div>
                            <div class="iosslider-caption-wrapper" data-0="transform:translateY(0px); opacity:1;" data-800="transform:translateY(50px); opacity:0.2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="iosslider-caption light-color text-center-xs mt-xs-50">
                                                <h3 class="capt fs-xxxxl fs-sm-xxxl fs-xs-xl fw-extrabold sourcesans reset-line-height mb-10">WHAT ARE FRIENDS FOR?<br>24/7 SUPPORT</h3>
                                                <h3 class="capt fs-xxl fs-xs-l fw-thin sourcesans mb-40">We have a professional team guiding you.</h3>
                                                <a href="#" class="capt btn btn-vs btn-custom big-padding big-padding-sm">GET STARTED</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-credits">
                                <a href="#" class="credits-author custom-color" data-titletext="FEATURED IMAGE BY">Matt Evernote</a>
                            </div>
                        </div>
                        <div class="item item4" data-slidetitle="JUST BE YOURSELF">
                            <div class="slide-image" style="background-image:url(images/sliders/iosslider_fullheight/slide4.jpg);"></div>
                            <div class="iosslider-caption-wrapper" data-0="transform:translateY(0px); opacity:1;" data-800="transform:translateY(50px); opacity:0.2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="iosslider-caption light-color text-center-xs mt-xs-50">
                                                <h3 class="capt fs-xxxxl fs-sm-xxxl fs-xs-xl fw-extrabold sourcesans reset-line-height mb-10">STOP BLENDING IN TODAY<br>JUST BE <span class="text-group-slider text-lightyellow">YOURSELF./DIFFERENT./UNIQUE.</span>
</h3>
                                                <h3 class="capt fs-xxl fs-xs-l fw-thin sourcesans mb-40">Plus your customers will love it.</h3>
                                                <a href="#" class="capt btn btn-vs btn-custom big-padding big-padding-sm">FIND OUT HOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-credits">
                                <a href="#" class="credits-author custom-color" data-titletext="FEATURED IMAGE BY">Matt Evernote</a>
                            </div>
                        </div>
                        <div class="item item5" data-slidetitle="FANTASY CENTRAL">
                            <div class="slide-image" style="background-image:url(images/sliders/iosslider_fullheight/slide5.jpg);"></div>
                            <div class="iosslider-caption-wrapper" data-0="transform:translateY(0px); opacity:1;" data-800="transform:translateY(50px); opacity:0.2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="iosslider-caption text-center light-color text-center-xs mt-xs-50">
                                                <h3 class="capt fs-xxxxl fs-sm-xxxl fs-xs-xl fw-extrabold sourcesans reset-line-height mb-10">PRODUCT SHOWCASING<br>THAT FEELS RIGHT</h3>
                                                <h3 class="capt fs-xxl fs-xs-l fw-thin sourcesans mb-40">If you need more convincing just scroll down.</h3>
                                                <a href="#" class="capt btn btn-vs btn-custom big-padding big-padding-sm">FALL IN LOVE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-credits">
                                <a href="#" class="credits-author custom-color" data-titletext="FEATURED IMAGE BY">Matt Evernote</a>
                            </div>
                        </div>
                    </div>
                    <div class="iosslider-navigation">
                        <a href="#" class="iosslider-prev" data-0="transform:translateY(0px); opacity:1;" data-800=" transform:translateY(50px); opacity:0.1;"><span></span><i class="vs-icon icon-size-xxxl icon-angle-left"></i></a>
                        <a href="#" class="iosslider-next" data-0="transform:translateY(0px); opacity:1;" data-800=" transform:translateY(50px); opacity:0.1;"><span></span><i class="vs-icon icon-size-xxxl icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <a class="scrolling_btn tonext vs-icon icon-size-xl icon-angle-down hover-circle" href="#main"></a>
        </section>
        
		<main id="main" class="mt-0">
			 <section class="colored-area pt-100 pb-100" data-color="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="services_boxes_wgt clearfix">
                                <h2 class="wgt-title"><span>WITH MEDIPOINTS</span></h2>
                                <div class="intro-col pr-40">
                                    <p>Lorem ipsum dolor sit amet, ectetur sed incididunt labore et dolore magna aliqua. Ut enim ad minim veniam trud exercita tion ullamco lorem sid ipsum dolor amet. </p>
                                    <a href="pages-services.html" class="read-more-link"><span>VIEW ALL SERVICES</span> <i class="vs-icon icon-angle-right custom-color"></i></a>
                                </div>
                                <ul class="sbox-3">
                                    <li>
                                        <div class="inner-box">
                                            <h5 data-role="title"><span class="vs-icon icon-okicon"></span>Search Doctor By Name</h5>
                                            <div class="hover-details">
                                                <ul class="reset-list dash-list">
                                                    <li>Logo design</li>
                                                    <li>Flyers and brocures</li>
                                                    <li>Business cards</li>
                                                    <li>Stationary design</li>
                                                    <li>Powerpoint design</li>
                                                    <li>Prints ads &amp; Magazines</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner-box">
                                            <h5 data-role="title"><span class="vs-icon icon-paperplane"></span>Search By Doctor Location</h5>
                                            <div class="hover-details">
                                                <ul class="reset-list dash-list">
                                                    <li>Logo design</li>
                                                    <li>Flyers and brocures</li>
                                                    <li>Business cards</li>
                                                    <li>Stationary design</li>
                                                    <li>Powerpoint design</li>
                                                    <li>Prints ads &amp; Magazines</li>
                                                    <li>Banners</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner-box">
                                            <h5 data-role="title"><span class="vs-icon icon-heartline"></span>Search By Doctor Speciality</h5>
                                            <div class="hover-details">
                                                <ul class="reset-list dash-list">
                                                    <li>Logo design</li>
                                                    <li>Flyers and brocures</li>
                                                    <li>Business cards</li>
                                                    <li>Stationary design</li>
                                                    <li>Powerpoint design</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
           
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="clearfix mt-100 pb-80 bottom-border">
                            <div class="col-sm-4">
                                <div class="icon-box stg-style-3 stg-alignleft">
                                    <span class="vs-icon icon-size-xxl icon-moustache"></span>
                                    <h4 data-role="title" class="fs-m">Modern &amp; flexible design</h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, ectetur sed incididunt labore et dolore magna aliqua. Ut enim ad minim veniam trud exercitatio ullamco lorem sid.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box stg-style-3 stg-alignleft">
                                    <span class="vs-icon icon-size-xxl icon-infinity"></span>
                                    <h4 data-role="title" class="fs-m">Ultra responsive design</h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, ectetur sed incididunt labore et dolore magna aliqua. Ut enim ad minim veniam trud exercitatio ullamco lorem sid.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box stg-style-3 stg-alignleft">
                                    <span class="vs-icon icon-size-xxl icon-teardrop"></span>
                                    <h4 data-role="title" class="fs-m">24/7 customer support</h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, ectetur sed incididunt labore et dolore magna aliqua. Ut enim ad minim veniam trud exercitatio ullamco lorem sid.</p>
                                    </div>
                                </div>
                            </div>
							
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="works_carousel stl-fullwidth stl-simple">
                    <div class="caroufredsel stg-textcenter" data-setup='{ "responsive": true, "navigation": false, "pagination": false, "width": "100%", "items_height": "variable", "items": {"min":1, "max":4}, "swipe_mouse": true, "auto_duration": 20000 }'>
                        <ul class="slides">
                            <li>
                                <div class="inner-slide">
                                    <div class="imgprev">
                                        <a href="#"><img src="images/quickgal/13.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="details">
                                        <h4 data-role="title"><a href="#">SEA MOUNTAIN DISCOVERY</a></h4>
                                        <h5 data-role="category">Traveling</h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner-slide">
                                    <div class="imgprev">
                                        <a href="#"><img src="images/quickgal/14.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="details">
                                        <h4 data-role="title"><a href="#">JUMPING ON LION</a></h4>
                                        <h5 data-role="category">Illustration</h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner-slide">
                                    <div class="imgprev">
                                        <a href="#"><img src="images/quickgal/15.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="details">
                                        <h4 data-role="title"><a href="#">MY NEW 90’S NIKES</a></h4>
                                        <h5 data-role="category">Forest</h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner-slide">
                                    <div class="imgprev">
                                        <a href="#"><img src="images/quickgal/16.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="details">
                                        <h4 data-role="title"><a href="#">SHINY NEW INTERIOR</a></h4>
                                        <h5 data-role="category">Illustration</h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inner-slide">
                                    <div class="imgprev">
                                        <a href="#"><img src="images/quickgal/4.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="details">
                                        <h4 data-role="title"><a href="#">JUMPING ON LION</a></h4>
                                        <h5 data-role="category">Illustration</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
			
			
			
            <section class="colored-area innershadow pt-100 pt-sm-40 pb-sm-40" data-color="gray">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="devices-animation mr-20 mnl-30 hidden-sm hidden-xs" data-animated="execute" data-appear-top-offset="-300">
                                <img src="images/device-tablet.png" alt="" class="device-tablet img-responsive">
                                <img src="images/device-smartphone.png" alt="" class="device-smartphone ">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="pl-15">
                                <h3 class="fs-xxl fs-xs-xl fw-extrabold mb-40 mt-25">Why Medipoints?</h3>
                                <div class="icon-box stg-style-3 stg-alignleft cc-blue mb-25">
                                    <span class="vs-icon bg-white icon-size-xxl icon-happy-smiley"></span>
                                    <h4 data-role="title" class="fs-m">3 click Appointment Booking</h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                    </div>
                                </div>
                                <div class="icon-box stg-style-3 stg-alignleft cc-purple mb-25">
                                    <span class="vs-icon bg-white icon-size-xxl icon-tie"></span>
                                    <h4 data-role="title" class="fs-m">Best Medical Services  </h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                    </div>
                                </div>
                                <div class="icon-box stg-style-3 stg-alignleft cc-pink mb-25">
                                    <span class="vs-icon bg-white icon-size-xxl icon-starline"></span>
                                    <h4 data-role="title" class="fs-m">Specialist Doctors </h4>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                    </div>
                                </div>
                                <!-- <p><a href="#" class="btn btn-vs btn-darkgray"><i class="vs-icon icon-niceplay icon-size-xxs circled-icon ci-xsmall"></i><span>POWERFULL STUFF</span></a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
			
            <section>
                <div class="container mt-100 mb-100">
                    <div class="row">
                        <div class="col-sm-12">
                            <header class="title-group">
                                <h2 class="fs-xxl fw-extrabold text-center">BLOG &amp; EVENTS</h2>
                                <div class="symbol-line"><span class="vs-icon icon-hexagon"></span></div>
                            </header>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="stg-negative-right stg-negative-left pb-40 pr-30 pr-sm-0 clearfix">
                                <div class="col-sm-12">
                                    <div class="bpost bp-widget mb-60 col1">
                                        <div class="post-head">
                                            <img src="images/blog-posts/blog-post9.jpg" alt="" class="post-image img-responsive">
                                            <div data-role="category"><a href="#">Food &amp; Colors</a></div>
                                            <h2 data-role="title" class="fs-l fw-bold"><a href="#">Clippet Repackages News As Bite-Sized Audio Snippets For Mobile Social</a> </h2>
                                        </div>
                                        <div class="post-content">
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                        </div>
                                        <div class="post-details">By <a href="#">BigWhiteWarrior</a>, on 18th May, with <a href="#">17 Comments</a></div>
                                        <a href="#" class="btn btn-custom readmore-btn">Read more</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="bpost bp-widget mb-60 col2">
                                        <div class="post-head">
                                            <img src="images/blog-posts/blog-post3.jpg" alt="" class="post-image img-responsive">
                                            <div data-role="category"><a href="#">Music</a></div>
                                            <h2 data-role="title" class="fs-l fw-bold"><a href="#">New contest today!</a></h2>
                                        </div>
                                        <div class="post-content">
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                        </div>
                                        <div class="post-details">By <a href="#">BigWhiteWarrior</a>, on 3rd July, with <a href="#">8 Comments</a></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="bpost bp-widget mb-60 col2">
                                        <div class="post-head">
                                            <img src="images/blog-posts/blog-post4.jpg" alt="" class="post-image img-responsive">
                                            <div data-role="category"><a href="#">Music</a></div>
                                            <h2 data-role="title" class="fs-l fw-bold"><a href="#">Opened to the public again!</a></h2>
                                        </div>
                                        <div class="post-content">
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                                        </div>
                                        <div class="post-details">By <a href="#">BigWhiteWarrior</a>, on 23th June, with <a href="#">0 Comments</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="eventbox text-center pt-50 mb-50">
                                <div class="vs-icon icon-calendar icon-size-xxl mb-20"></div>
                                <h4 class="fs-m fw-bold mb-20" data-role="title">Tomorrow Land, Ibiza.</h4>
                                <div class="eventdate"><span class="date">13 August 2014</span>18:00</div>
                                <div class="eventdesc pl-30 pr-30">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                                </div>
                                <div class="eventpic hidden-sm hidden-xs">
                                    <img src="images/eventpic.jpg" alt="Tomorrow Land, Ibiza." class="img-responsive">
                                    <a href="#" class="btn btn-purple big-padding btn-rounded">MORE INFO</a>
                                </div>
                                <a href="#" class="btn btn-purple big-padding btn-rounded mb-sm-40 hidden-md hidden-lg">MORE INFO</a>
                            </div>
                            <ul class="acc-list filled-bg" id="accordion_list">
                                <li class="panel">
                                    <button type="button" data-number="1" data-toggle="collapse" data-target="#pnl1" data-parent="#accordion_list" class="">Be cool &amp; stay true</button>
                                    <div class="collapse in" id="pnl1">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </li>
                                <li class="panel">
                                    <button type="button" data-number="2" data-toggle="collapse" data-target="#pnl2" data-parent="#accordion_list" class="collapsed">Start building with icons</button>
                                    <div class="collapse" id="pnl2">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </li>
                                <li class="panel">
                                    <button type="button" data-number="3" data-toggle="collapse" data-target="#pnl3" data-parent="#accordion_list" class="collapsed">Always stay on top of the game</button>
                                    <div class="collapse" id="pnl3">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </li>
                                <li class="panel">
                                    <button type="button" data-number="4" data-toggle="collapse" data-target="#pnl4" data-parent="#accordion_list" class="collapsed">Be careful &amp; never lose a round</button>
                                    <div class="collapse" id="pnl4">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </li>
                                <li class="panel">
                                    <button type="button" data-number="5" data-toggle="collapse" data-target="#pnl5" data-parent="#accordion_list" class="collapsed">You’re now awesome</button>
                                    <div class="collapse" id="pnl5">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            
			<section>
                <div class="container-fluid ov-hidden no-pads">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="socialbox sb-facebook">
                                <span class="vs-icon icon-facebook"></span>
                                <h4 class="fan-count"><span>4800</span>LIKES</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="socialbox sb-twitter">
                                <span class="vs-icon icon-twitter"></span>
                                <h4 class="fan-count"><span>320k</span>FOLLOWERS</h4>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="socialbox sb-google-plus">
                                <span class="vs-icon icon-google-plus"></span>
                                <h4 class="fan-count"><span>867</span>RECOMMENDATIONS</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
			
			
        </main>
    </div>
   
   
   
   
   
   
    <a href="#" id="totop"></a>
    <script type="text/javascript" src="js/vauss_scripts.js"></script>
    <script type="text/javascript">
        //use the modernizr load to load up external scripts. This will load the scripts asynchronously, but the order listed matters. Although it will load all scripts in parallel, it will execute them in the order listed
        Modernizr.load([{
            // test for media query support, if not load respond.js
            test: Modernizr.mq('only all'),
            // If not, load the respond.js file
            nope: '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js'
        }]);
    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-58968593-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="assets/_sliders/iosslider/jquery.iosslider.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            var iosslider_container = jQuery('#iosSlider1'),
                iosPrev = iosslider_container.find('.iosslider-prev'),
                iosNext = iosslider_container.find('.iosslider-next'),
                addSlideTitles = function(args) {
                    var slides = jQuery(args.data.slideNodes);
                    iosPrev.children('span').text(slides.eq((args.currentSlideNumber - 1) - 1).attr('data-slidetitle'));
                    iosNext.children('span').text(slides.eq((args.currentSlideNumber + 1) - 1).attr('data-slidetitle'));
                },
                addSlideActives = function(args) {
                    var slides = jQuery(args.data.slideNodes);
                    slides.removeClass('active');
                    slides.eq(args.currentSlideNumber - 1).addClass('active')
                }

            iosslider_container.iosSlider({
                snapToChildren: true,
                desktopClickDrag: true,
                infiniteSlider: true,
                keyboardControls: true,
                navPrevSelector: iosPrev,
                navNextSelector: iosNext,
                onSliderLoaded: function(args) {
                    addSlideTitles(args);
                    addSlideActives(args);
                },
                onSlideChange: function(args) {
                    addSlideTitles(args);
                    addSlideActives(args);
                }
            });
        });
    </script>
