<footer id="footer" class="site-footer ">
            <div class="main-footer">
                <div class="container pt-80 mb-40">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="block-wgt mb-30">
                                <img src="images/logo-vs-footer.svg" alt="VAUSS HTML TEMPLATE" class="mb-20" width="93" height="43">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            </div>
                            <div class="block-wgt">
                                <ul class="social_icons">
                                    <li>
                                        <a href="#" class="vs-icon icon-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-vimeo"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-google-plus"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="block-wgt mr-20">
                                <h4 data-role="title" class="simple-title">RECENT POSTS</h4>
                                <ul class="menu">
                                    <li><a href="#">Temporibus autem quibusdam</a></li>
                                    <li><a href="#">Et aut officiis debitis aut rerum</a></li>
                                    <li><a href="#">Necessitatibus saepe eveniet </a></li>
                                    <li><a href="#">Temporibus autem quibusdam</a></li>
                                    <li><a href="#">Rerum debitis officiis aut </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="block-wgt">
                                <h4 data-role="title" class="simple-title">ABOUT US</h4>
                                <ul class="menu">
                                    <li><a href="#">Our Workshop</a></li>
                                    <li><a href="#">The Basement</a></li>
                                    <li><a href="#">Inhouse Production</a></li>
                                    <li><a href="#">Future Plamns</a></li>
                                    <li><a href="#">Amazign Discoveries</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="block-wgt ml-40 ml-xs-0">
                                <h4 data-role="title" class="simple-title">PHOTO STREAM</h4>
                                <ul id="flickr-feed" class="flickr-feed loading" data-limit="8" data-id="52617155@N08"></ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container pt-30 pb-10">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="fs-xsmall uppercase text-center-xs">Copyright &copy; 2015 - All rights reserved. &nbsp;&nbsp;&nbsp;<a href="http://goo.gl/Qcncis" target="_blank">Buy now from ThemeForest</a>.</p>
                        </div>
                        <div class="col-sm-6">
                            <ul class="menu fs-xsmall text-right fw-semibold mb-xs-20 text-center-xs">
                                <li><a href="index-2.html">HOME</a></li>
                                <li><a href="features-blog.html">BLOG</a></li>
                                <li><a href="features-portfolio.html">PORTFOLIO</a></li>
                                <li><a href="pages-contact.html">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		 <div class="bubble-box ads-box" data-reveal-at="1000">
        <div class="bb--inner">
            <a href="#"><img src="images/ad.jpg" alt="" class="pp-adimg img-responsive"></a>
            <p>This should service you as an AD box, use wisely! Everything is in order and this is a <a href="#">simple link.</a></p>
        </div>
        <span class="bb--close"><i class="vs-icon icon-times"></i></span>
    </div>
    <div class="vs-pp-box vs-login-box mfp-hide" id="login-box">
        <div class="vs-pp-inner">
            <form action="#" class="lb--form">
                <div class="form-row">
                    <label class="lb-stickylabel" for="lb-username">USERNAME</label>
                    <input type="text" class="vs-input-lb" id="lb-username" name="lb-username" value="">
                </div>
                <div class="form-row">
                    <label class="lb-stickylabel" for="lb-password">PASSWORD</label>
                    <input type="password" class="vs-input-lb" id="lb-password" name="lb-password" value="">
                </div>
                <div class="form-row mb-20">
                    <input type="submit" class="btn btn-vs btn-custom big-padding btn-fullwidth" value="LOGIN" name="submit">
                </div>
                <div class="form-row mb-0">
                    <div class="pull-right">
                        <a href="#" class="lb-link">Password?</a>
                    </div>
                    <div class="pull-left">
                        <input type="checkbox" class="vs-checkbox-lb" id="lb-remember">
                        <label for="lb-remember">Remember me</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="lb-register">
            <div class="symbol-line mt-35"><a href="#">REGISTER NOW <i class="vs-icon icon-vauss"></i></a></div>
        </div>
    </div>
		
		