	<div class="site-mobile-nav hidden-lg hidden-md" id="main-nav-mobile">
        <a href="#" class="s-panel--close"><i class="vs-icon icon-times"></i></a>
    </div>
    <div class="sm-panel" id="smp">
        <div class="sm-panel--inner">
            <h4 class="side-title">SPECIAL PAGES</h4>
            <ul class="side-menu reset-list mb-40">
                <li><a href="#" class="text-hover-turquoise"><i class="vs-icon icon-icecream"></i> HTML Builder</a></li>
                <li><a href="features-bigblog.html" class="text-hover-purple"><i class="vs-icon icon-heartline"></i> FlipBlog</a></li>
                <li><a href="styles-pricing-tables.html" class="text-hover-pink"><i class="vs-icon icon-paperplane"></i> Pricing Tables</a></li>
            </ul>
            <h4 class="side-title">AMAZING LAYOUTS</h4>
            <ul class="side-menu reset-list mb-40">
                <li><a href="#">Default Homepage</a></li>
                <li><a href="#">Clean Homepage</a></li>
                <li><a href="#">Fancy Homepage</a></li>
                <li><a href="#">Blogfolio</a></li>
                <li><a href="#">Shop Landingpage</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <div class="separator opacity2 mb-5"></div>
            <div class="social_icons">
                <ul>
                    <li>
                        <a href="#" class="vs-icon icon-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="vs-icon icon-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="vs-icon icon-linkedin"></a>
                    </li>
                    <li>
                        <a href="#" class="vs-icon icon-vimeo"></a>
                    </li>
                    <li>
                        <a href="#" class="vs-icon icon-google-plus"></a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="s-panel--close"><i class="vs-icon icon-times"></i></a>
    </div>
    
<header id="header" class="site-header">
            <div class="top-header" style="display:none;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="social_icons">
                                <a href="javascript:void(0);" class="hidden-sm hidden-md hidden-lg"><span class="vs-icon icon-twitter"></span></a>
                                <ul>
                                    <li>
                                        <a href="#" class="vs-icon icon-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-linkedin"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-vimeo"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vs-icon icon-google-plus"></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="vs-topmenu">
                                <li>
                                    <a href="mailto:hello@yourwebsite.com" class="topmenu-item">
                                        <span class="vs-icon icon-mail hidden-md hidden-lg"></span>
                                        <span class="hidden-xs hidden-sm">hello@yourwebsite.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="topmenu-item language-selector">
                                        <span class="vs-img"><img src="images/flags/us.png" alt="English En"></span>
                                        <span class="hidden-xs hidden-sm">English</span>
                                    </a>
                                    <div class="topmenu-subpanel">
                                        <ul class="topmenu--panel language-panel">
                                            <li><a href="#"><span>English</span> <img src="images/flags/us.png" alt="English" class="flag-img"></a></li>
                                            <li><a href="#"><span>Spanish</span> <img src="images/flags/es.png" alt="Spanish" class="flag-img"></a></li>
                                            <li><a href="#"><span>French</span> <img src="images/flags/fr.png" alt="French" class="flag-img"></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#login-box" class="topmenu-item" data-lightbox="inline">
                                        <span class="vs-icon icon-user hidden-md hidden-lg"></span>
                                        <span class="hidden-xs hidden-sm">Login</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header">
                <ul class="right-nav reset-list" id="right-nav-outside">
                    <li class="searchbtn-holder">
                        <a href="javascript:void(0);" class="headericon search_btn vs-icon icon-search"></a>
                    </li>
                    <!-- <li class="shop-cart-holder">
                        <div class="shop-cart ">
                            <a href="#" title="Click to open panel" class="headericon">
                                <span class="vs-icon icon-basket"></span>
                            </a>
                            <div class="cart-subpanel">
                                <div class="cart--panel">
                                    <ul class="products-incart">
                                        <li>
                                            <a href="#">
                                                <img src="images/shop/productlist/1.jpg" alt="" class="img-responsive">
                                                <h5 class="ptitle">Long blazer jacket</h5>
                                                <p class="price-count"><strong>1</strong> x £279</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/shop/productlist/2.jpg" alt="" class="img-responsive">
                                                <h5 class="ptitle">Long blazer jacket</h5>
                                                <p class="price-count"><strong>1</strong> x £279</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/shop/productlist/3.jpg" alt="" class="img-responsive">
                                                <h5 class="ptitle">Long blazer jacket</h5>
                                                <p class="price-count"><strong>1</strong> x £279</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="images/shop/productlist/4.jpg" alt="" class="img-responsive">
                                                <h5 class="ptitle">Long blazer jacket</h5>
                                                <p class="price-count"><strong>1</strong> x £279</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <span class="subtotal">Subtotal: <strong>£3,270</strong></span>
                                    <p>
                                        <a href="#" class="btn btn-lightgray">VIEW CART</a>
                                        <a href="#" class="btn btn-lightblue">CHECKOUT</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                     --><li>
                        <a href="javascript:void(0);" id="smt" class="headericon mobilenav-icon"><span></span></a>
                    </li>
                </ul>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="logo-container">
                                <a href="index-2.html" class="site-logo" title="Vauss HTML Template">
                                    <img src="images/logo-vs-white.svg" alt="Vauss HTML Template" title="Click to return to Vauss's Template homepage" width="101" height="43" class="logoimg ">
                                    <img src="images/logo-vs-sticky.svg" alt="Vauss HTML Template" title="Click to return to Vauss's Template homepage" class="logosticky">
                                </a>
                                <div class="infocard">
                                    <div class="ic-side ic-left">
                                        <div class="ic-intro mt-10 text-center">
                                            <p><img src="images/vauss-colored.svg" alt=""></p>
                                            <p>Vauss is an
                                                <br><strong>ultra-premium</strong>, responsive theme built for todays websites.</p>
                                        </div>
                                    </div>
                                    <div class="ic-side ic-right">
                                        <div class="contact-details" itemscope itemtype="http://schema.org/LocalBusiness">
                                            <p>
                                                <strong itemprop="name">Vauss Creative ltd.</strong>
                                                <br>
                                                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="streetAddress">888 Jameson Stret</span>,
                                                <span itemprop="addressLocality">Chicago</span>,
                                                <span itemprop="addressRegion">USA</span>,
                                                <span itemprop="postalCode"></span>
                                                <br>
                                                <span itemprop="telephone">(212) 555 55 00</span>
                                                <br>
                                                </span>
                                                <a href="mailto:sales@vauss-theme.com">sales@vauss-theme.com</a>
                                            </p>
                                            <p><a href="http://goo.gl/maps/1OhOu" target="_blank" class="lined-link">Open in Google Maps</a></p>
                                        </div>
                                        <div>
                                            <ul class="social_icons clearfix">
                                                <li>
                                                    <a href="#" class="vs-icon icon-twitter"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="vs-icon icon-facebook"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="vs-icon icon-linkedin"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="vs-icon icon-vimeo"></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="vs-icon icon-google-plus"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="right-nav reset-list rn--inside" id="right-nav-inside">
                               <!--  <li>
                                    <a href="http://goo.gl/Qcncis" target="_blank" class="btn btn-vs btn-custom btn-lined inverted thin-border">BUY <span class="hidden-xs">NOW</span></a>
                                </li> -->
                            </ul>
                            <nav id="navigation" class="site-main-nav ">
                                <ul class="vs-menu sitemenu-submenu-dark sitemenu-extra-strong sitemenu-extra-no-arrows">
                                    <li><a class="menu-item" href="index-2.html">Home</a>
                                        <ul>
                                            <li><a class="menu-item" href="index-2.html">Home - Cromatique</a></li>
                                            <li><a class="menu-item" href="index-homepage-mood.html">Home - Mood</a></li>
                                            <li><a class="menu-item" href="index-homepage-hipsta.html">Home - Hipsta</a></li>
                                            <li><a class="menu-item" href="shop-landing-page.html#shophome">Home - The Shop</a></li>
                                            <li><a class="menu-item" href="index-vauss-lander.html">Home - Vauss Lander</a></li>
                                            <li><a class="menu-item" href="index-homepage-vausessive.html">Home - Vausessive <span class="new-stuff">NEW</span></a></li>
                                            <li class="menu-divider"></li>
                                            <li><a class="menu-item" href="http://goo.gl/Qcncis" target="_blank">Buy now from ThemeForest</a></li>
                                        </ul>
                                    </li>
                                    <li><span class="menu-item menu-separator">Doctors</span>
                                        <ul>
                                            <li><a class="menu-item" href="index-2.html#rvslider">Revolution Slider</a></li>
                                            <li><a class="menu-item" href="index-homepage-mood.html#iosslider">iOS Slider</a></li>
                                            <li><a class="menu-item" href="pages-portfolio-photographer-item.html#phslider">Photographer Slider</a></li>
                                            <li><a class="menu-item" href="pages-about-us.html#vdheader">Video Header</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="pages-about-us.html#abtus">Medipoints</a></li>
                                    <li><span class="menu-item menu-separator">Speciality</span>
                                        <ul>
                                            <li><a class="menu-item" href="features-blog.html">Blog - Simple Layout</a></li>
                                            <li><a class="menu-item" href="features-bigblog.html">Blog - FlipBook</a></li>
                                            <li><a class="menu-item" href="features-blog-timeline.html">Blog - Timeline layout</a></li>
                                            <li class="menu-divider"></li>
                                            <li><a class="menu-item" href="features-portfolio.html">Portfolio - Simple Layout</a>
                                                <li><a class="menu-item" href="features-fullwidth-portfolio.html">Portfolio - FullWidth</a></li>
                                                <li><a class="menu-item" href="features-portfolio-creative.html">Portfolio - Creative</a></li>
                                                <li class="menu-divider"></li>
                                                <li><a class="menu-item" href="features-blogfolio.html">Blogfolio Creative</a></li>
                                                <li><a class="menu-item" href="features-blogfolio-fullwidth.html">Blogfolio Creative FullWidth</a></li>
                                                <li class="menu-divider"></li>
                                                <li><a class="menu-item" href="features-photogallery.html">Photo Gallery</a></li>
                                                <li><span class="menu-item menu-separator">Menu Level Testing</span>
                                                    <ul>
                                                        <li><span class="menu-item menu-separator">Lorem Ipsum (lvl 3)</span>
                                                            <ul>
                                                                <li><a class="menu-item" href="#">Lorem Ipsum (lvl 4)</a></li>
                                                                <li><a class="menu-item" href="#">Too many levels</a></li>
                                                                <li><a class="menu-item" href="#">are not recommended</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a class="menu-item" href="#">Nulla consequat</a></li>
                                                        <li><a class="menu-item" href="#">Fringilla vel</a></li>
                                                    </ul>
                                                </li>
                                        </ul>
                                        </li>
                                        <li><a class="menu-item" href="shop-landing-page.html">Contact us</a>
                                            <ul>
                                                <li><a class="menu-item" href="shop-landing-page.html">Shop Landing Page</a></li>
                                                <li><a class="menu-item" href="shop-category-layout.html">Category &amp; Sidebar</a></li>
                                                <li><a class="menu-item" href="shop-filter-header.html">Filter Header</a></li>
                                                <li><a class="menu-item" href="shop-product-page.html">Product page</a></li>
                                                <li><a class="menu-item" href="shop-shopping-cart.html">Shopping Cart</a></li>
                                                <li><a class="menu-item" href="shop-checkout.html">Checkout Process</a></li>
                                                <li><a class="menu-item" href="shop-order-recieved.html">Order Confirmation</a></li>
                                                <li><a class="menu-item" href="shop-account-login.html">My Account - Login</a></li>
                                            </ul>
                                        </li>
                                       <!--  <li class="mega-menu">
                                            <span class="menu-item menu-separator">Pages</span>
                                            <div class="vs-mega" data-columns="5">
                                                <div class="vs-mega-section">
                                                    <h4 data-role="title">QUICK PEEK</h4>
                                                    <ul>
                                                        <li><a class="menu-item" href="pages-about-us.html">About us</a></li>
                                                        <li><a class="menu-item" href="pages-about-me.html">About me</a></li>
                                                        <li><a class="menu-item" href="pages-team.html">The Team</a></li>
                                                        <li><a class="menu-item" href="pages-team-member.html">Team Member</a></li>
                                                        <li><a class="menu-item" href="pages-careers.html">Careers</a></li>
                                                    </ul>
                                                </div>
                                                <div class="vs-mega-section">
                                                    <h4 data-role="title">OFFERINGS</h4>
                                                    <ul>
                                                        <li><a class="menu-item" href="pages-jobdescription.html">Job Description</a></li>
                                                        <li><a class="menu-item" href="pages-services.html">Our Services</a></li>
                                                        <li><a class="menu-item" href="pages-process.html">Our Process</a></li>
                                                        <li><a class="menu-item" href="pages-contact.html">Contact us</a></li>
                                                        <li><a class="menu-item" href="pages-contact-alternative.html">Contact (alternative)</a></li>
                                                    </ul>
                                                </div>
                                                <div class="vs-mega-section">
                                                    <h4 data-role="title">THE ROAD AHEAD</h4>
                                                    <ul>
                                                        <li><a class="menu-item" href="pages-historic.html">Historic / Timeline</a></li>
                                                        <li><a class="menu-item" href="pages-testimonials.html">Testimonials</a></li>
                                                        <li><a class="menu-item" href="shop-category-layout.html">Products List/Category</a></li>
                                                        <li><a class="menu-item" href="shop-product-page.html">Product Item</a></li>
                                                        <li><a class="menu-item" href="pages-faq.html">F.A.Q.</a></li>
                                                    </ul>
                                                </div>
                                                <div class="vs-mega-section">
                                                    <h4 data-role="title">ART CORNER</h4>
                                                    <ul>
                                                        <li><a class="menu-item" href="pages-portfolio-item.html">Portfolio Item</a></li>
                                                        <li><a class="menu-item" href="pages-portfolio-full-item.html">Portfolio Item Full</a></li>
                                                        <li><a class="menu-item" href="pages-portfolio-photographer-item.html">Photographer Portfolio</a></li>
                                                        <li><a class="menu-item" href="pages-blog-item.html">Blog Article</a></li>
                                                        <li><a class="menu-item" href="pages-full-width.html">Blog Article / Full width</a></li>
                                                    </ul>
                                                </div>
                                                <div class="vs-mega-section">
                                                    <h4 data-role="title">MISCELLANEOUS</h4>
                                                    <ul>
                                                        <li><a class="menu-item" href="pages-leftsidebar.html">Left sidebar</a></li>
                                                        <li><a class="menu-item" href="pages-rightsidebar.html">Right sidebar</a></li>
                                                        <li><a class="menu-item" href="pages-404.html">404 Error</a></li>
                                                        <li><a class="menu-item" href="pages-offline.html">Offline / Maintainance</a></li>
                                                        <li><a class="menu-item" href="pages-coming-soon.html">Coming Soon</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li><span class="menu-item menu-separator">Styles</span>
                                            <ul>
                                                <li><a class="menu-item" href="styles-pricing-tables.html">Pricing tables</a></li>
                                                <li><a class="menu-item" href="styles-typography.html">Typography</a></li>
                                                <li><a class="menu-item" href="styles-tables.html">Table designs</a></li>
                                                <li><a class="menu-item" href="styles-buttons.html">Button designs</a></li>
                                                <li><a class="menu-item" href="styles-forms.html">Form styles</a></li>
                                                <li><a class="menu-item" href="styles-icons.html">Icons</a></li>
                                                <li><a class="menu-item" href="styles-tabs.html">Tabs designs</a></li>
                                                <li><a class="menu-item" href="styles-accordions.html">Accordion Toogles</a></li>
                                                <li><a class="menu-item" href="styles-others.html">Others</a></li>
                                            </ul>
                                        </li> -->
                                </ul>
                                <a href="#" id="mmt" class="headericon mobilenav-icon hidden-md hidden-lg" data-menutitle="MENU"><span></span></a>
                            </nav>
                            <div class="search-block">
                                <div class="search">
                                    <form action="http://www.google.com/search" method="get" target="_blank" id="gsearchform" data-site="www.hogash-demo.com/vauss/">
                                        <span class="vs-icon icon-search"></span>
                                        <input name="q" type="hidden">
                                        <input type="search" name="qfront" class="vs-search-input" onfocus="if(this.value=='type and hit enter') this.value='';" onblur="if(this.value=='') this.value='type and hit enter';" value="type and hit enter"> >
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
		
		
		  <div class="loader" title="Loading..">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"></path>
        </svg>
    </div>